In [ ]:
import gym
env = gym.make('FrozenLake-v0')
env.render()

In [ ]:
env.observation_space

In [ ]:
env.action_space

In [ ]:
env.P[0][2]

In [ ]:
env.P[3][1]

In [ ]:
state = env.reset()

In [ ]:
env.step(2)
env.render()

In [ ]:
env.P[6][1]

In [ ]:
env.step(1)

In [ ]:
env.render()

In [ ]:
(next_state, reward, done, info) = env.step(1)

In [ ]:
info

In [ ]:
env.render()

In [ ]:
random_action = env.action_space.sample()
random_action

In [ ]:
next_state, reward, done, info = env.step(random_action)

In [ ]:
env.render()

In [ ]:
num_timesteps = 20
for t in range(num_timesteps):
    random_action = env.action_space.sample()
    next_state, reward, done, info = env.step(random_action)
    env.render()
    if done:
        break

In [ ]:
import gym
env = gym.make('CartPole-v0')
env.reset()
env.step(env.action_space.sample())
env.render()

In [ ]:
env.close()

In [ ]:
env.observation_space

In [ ]:
env.reset()

In [ ]:
env.observation_space.high

In [ ]:
env.action_space

In [ ]:
import gym
env = gym.make('CartPole-v0')

num_episodes = 100
num_timesteps = 50

for i in range(num_episodes):
    Return = 0
    state = env.reset()
    for t in range(num_timesteps):
        env.render()
        action = env.action_space.sample()
        next_state, reward, done, info = env.step(action)
        Return += reward
        if done:
            break
    if i % 10 == 0:
        print('Episode: ', i, 'Return: ', Return)
env.close()

In [ ]:
env = gym.make('Pong-v0')

In [ ]:
env.observation_space

In [ ]:
env.reset()

In [ ]:
env = gym.make('Pong-ram-v0')

In [ ]:
env.observation_space

In [ ]:
env.reset()

In [ ]:
env.action_space

In [ ]:
gym.registry.all()

In [ ]:
from gym import envs
envs.registry.all()

In [ ]:
import gym
import numpy as np

env = gym.make('FrozenLake-v0')
env.render()

In [ ]:
def value_iteration(env):
    num_iterations = 1000
    threshold = 1e-20
    gamma = 1.0
    value_table = np.zeros(env.observation_space.n)
    
    for i in range(num_iterations):
        update_value_table = np.copy(value_table)
        
        for s in range(env.observation_space.n):
            Q_values = [sum([prob*(r + gamma*update_value_table[s_]) for prob, s_, r, _ in env.P[s][a]]) for a in range(env.action_space.n)]
            value_table[s] = max(Q_values)
            
        if (np.sum(np.fabs(update_value_table - value_table)) <= threshold):
            print('Value-iteration converged at iteration# %d.' %(i+1))
            break   
    return value_table

In [ ]:
def extract_policy(value_table):
    gamma = 1.0
    policy = np.zeros(env.observation_space.n)
    
    for s in range(env.observation_space.n):
        Q_values = [sum([prob*(r + gamma*value_table[s_]) for prob, s_, r, _ in env.P[s][a]]) for a in range(env.action_space.n)] 
        policy[s] = np.argmax(np.array(Q_values))
    return policy

In [ ]:
optimal_value_function = value_iteration(env)

In [ ]:
optimal_policy = extract_policy(optimal_value_function)

In [ ]:
optimal_policy

In [ ]:
import gym
import numpy as np

env = gym.make('FrozenLake-v0')

def compute_value_function(policy):
    num_iterations = 1000
    threshold = 1e-20
    gamma = 1.0
    value_table = np.zeros(env.observation_space.n)
    
    for i in range(num_iterations):
        updated_value_table = np.copy(value_table)
        
        for s in range(env.observation_space.n):
            a = policy[s]
            value_table[s] = sum([prob*(r + gamma*updated_value_table[s_]) for prob, s_, r, _ in env.P[s][a]])
            
        if (np.sum(np.fabs(updated_value_table - value_table)) <= threshold):
            print('Value-iteration converged at iteration# %d.' %(i+1))
            break
    return value_table

def extract_policy(value_table):
    gamma = 1.0
    policy = np.zeros(env.observation_space.n)
    
    for s in range(env.observation_space.n):
        Q_values = [sum([prob*(r + gamma*value_table[s_]) for prob, s_, r, _ in env.P[s][a]]) for a in range(env.action_space.n)]
        policy[s] = np.argmax(np.array(Q_values))
    return policy

def policy_iteration(env):
    num_iterations = 1000
    policy = np.zeros(env.observation_space.n)
    
    for i in range(num_iterations):
        value_function = compute_value_function(policy)
        updated_policy = extract_policy(value_function)
        
        if (np.all(policy == updated_policy)):
            print('Policy-iteration converged at step %d.' %(i+1))
            break
        policy = updated_policy
    return policy

optimal_policy = policy_iteration(env)
print(optimal_policy)

In [2]:
import gym
env = gym.make('Blackjack-v0')

In [3]:
env.reset()

(17, 9, False)

In [4]:
env.action_space

Discrete(2)

In [5]:
import gym
import pandas as pd
from collections import defaultdict

env = gym.make('Blackjack-v0')

In [6]:
def policy(state):
    return 0 if state[0] > 19 else 1

In [7]:
state = env.reset()

In [8]:
print(state)

(16, 8, True)

In [9]:
print(policy(state))

1

In [10]:
num_timesteps = 100
def generate_episode(policy):
    episode = []
    state = env.reset()
    for t in range(num_timesteps):
        action = policy(state)
        next_state, reward, done, info = env.step(action)
        episode.append((state, action, reward))
        
        if done: 
            break
        
        state = next_state
        
    return episode

In [11]:
print(generate_episode(policy))

[((15, 8, False), 1, 0), ((18, 8, False), 1, 0), ((21, 8, False), 0, 1.0)]

In [22]:
total_return = defaultdict(float)
N = defaultdict(int)

In [23]:
num_iterations = 500000
import numpy as np

for i in range(num_iterations):
    episode = generate_episode(policy)
    states, actions, rewards = zip(*episode)

    for t, state in enumerate(states):
        # if state not in states[:t]:
        R = sum(rewards[t:])
        total_return[state] += R
        N[state] += 1

total_return = pd.DataFrame(total_return.items(), columns=['State', 'Total Return'])

In [24]:
total_return.head()

             State  Total Return
0  (20, 10, False)       13246.0
1    (5, 5, False)        -249.0
2   (11, 5, False)        -238.0
3   (16, 5, False)       -3394.0
4   (12, 9, False)       -2338.0

In [25]:
N = pd.DataFrame(N.items(), columns=['State', 'N'])
N

               State      N
0    (20, 10, False)  30124
1      (5, 5, False)    436
2     (11, 5, False)   2294
3     (16, 5, False)   5174
4     (12, 9, False)   4401
..               ...    ...
275    (12, 9, True)    214
276    (12, 2, True)    206
277    (12, 3, True)    230
278    (13, 4, True)    498
279    (4, 5, False)    211

[280 rows x 2 columns]

In [26]:
df = pd.merge(total_return, N, on="State")
df

               State  Total Return      N
0    (20, 10, False)       13246.0  30124
1      (5, 5, False)        -249.0    436
2     (11, 5, False)        -238.0   2294
3     (16, 5, False)       -3394.0   5174
4     (12, 9, False)       -2338.0   4401
..               ...           ...    ...
275    (12, 9, True)         -23.0    214
276    (12, 2, True)         -35.0    206
277    (12, 3, True)         -92.0    230
278    (13, 4, True)        -116.0    498
279    (4, 5, False)        -112.0    211

[280 rows x 3 columns]

In [27]:
df.head(10)

             State  Total Return      N
0  (20, 10, False)       13246.0  30124
1    (5, 5, False)        -249.0    436
2   (11, 5, False)        -238.0   2294
3   (16, 5, False)       -3394.0   5174
4   (12, 9, False)       -2338.0   4401
5   (15, 9, False)       -3071.0   4954
6  (17, 10, False)      -14944.0  21022
7   (19, 1, False)       -4353.0   5505
8   (18, 7, False)       -3851.0   5504
9   (6, 10, False)       -1530.0   2869

In [28]:
df['value'] = df['Total Return']/df['N']
df.head(10)

             State  Total Return      N     value
0  (20, 10, False)       13246.0  30124  0.439716
1    (5, 5, False)        -249.0    436 -0.571101
2   (11, 5, False)        -238.0   2294 -0.103749
3   (16, 5, False)       -3394.0   5174 -0.655972
4   (12, 9, False)       -2338.0   4401 -0.531243
5   (15, 9, False)       -3071.0   4954 -0.619903
6  (17, 10, False)      -14944.0  21022 -0.710874
7   (19, 1, False)       -4353.0   5505 -0.790736
8   (18, 7, False)       -3851.0   5504 -0.699673
9   (6, 10, False)       -1530.0   2869 -0.533287

In [29]:
df[df['State'] == (21, 9, False)]['value'].values

array([0.93249608])

In [30]:
df[df['State'] == (5, 8, False)]['value'].values

array([-0.42468619])

In [35]:
import random
random.uniform(0,1)

0.32097916401221704

In [36]:
import gym
import pandas as pd
import random

from collections import defaultdict

In [37]:
env = gym.make('Blackjack-v0')
Q = defaultdict(float)

In [38]:
total_return = defaultdict(float)
N = defaultdict(int)

In [39]:
def epsilon_greedy_policy(state, Q):
    epsilon = 0.5
    
    if random.uniform(0,1) < epsilon:
        return env.action_space.sample()
    else:
        return max(list(range(env.action_space.n)), key=lambda x: Q[(state, x)])

In [40]:
num_timesteps = 100

def generate_episode(Q):
    episode = []
    state = env.reset()
    for t in range(num_timesteps):
        action = epsilon_greedy_policy(state, Q)
        next_state, reward, done, info = env.step(action)
        episode.append((state, action, reward))
        
        if done: 
            break
        
        state = next_state
        
    return episode

In [41]:
num_iterations = 500000

for i in range(num_iterations):
    episode = generate_episode(Q)
    all_state_action_pairs = [(s, a) for (s, a, r) in episode]
    rewards = [r for (s, a, r) in episode]
    
    for t, (state, action, _) in enumerate(episode):
        if not (state, action) in all_state_action_pairs[:t]:
            R = sum(rewards[t:])
            total_return[(state, action)] += R
            N[(state, action)] += 1
            
            Q[(state, action)] = total_return[(state, action)]/N[(state, action)]

In [42]:
df = pd.DataFrame(Q.items(), columns=['state_action pair', 'value'])

In [43]:
df.head(10)

     state_action pair     value
0  ((15, 3, False), 0) -0.223859
1  ((15, 3, False), 1) -0.531618
2  ((13, 9, False), 0) -0.527239
3  ((13, 9, False), 1) -0.495154
4  ((21, 10, True), 0)  0.886715
5  ((21, 10, True), 1) -0.173872
6  ((12, 4, False), 1) -0.395169
7  ((18, 4, False), 1) -0.705210
8  ((20, 6, False), 0)  0.704124
9  ((20, 6, False), 1) -0.906843

In [44]:
df[124:126]

       state_action pair     value
124  ((15, 4, False), 0) -0.245913
125  ((15, 4, False), 1) -0.538771